<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OrangeHRM" parallel="methods" thread-count="4">
    <test name="OrangeHRMTest">
        <classes>
            <class name="org.kdr.GetPageTitle" />
            <class name="org.kdr.GetPageUrl" />
            <class name="org.kdr.LoginPageTest" />
            <class name="org.kdr.HomePageTest" />
        </classes>
    </test>
</suite>